$base-font-family: 'TT Norms', 'San Francisco', Helvetica, Arial;
$canvas-default-background: #0d1117;
$header-default-background: #161b22;

$radius-variants: (
  'xs3': 2,
  'xs2': 4,
  'xs': 8,
  'x': 12,
  'm': 16,
  'l': 24,
  'xl': 32px,
  'circle': 100
);

$breakpoints: (
  small: 480px,
  medium: 640px,
  large: 1024px
);

$p-font-sizes: (
  null: 14px,
  small: 15px,
  medium: 16px,
  large: 17px
);

$h1-font-sizes: (
  null: 28px,
  small: 31px,
  medium: 33px,
  large: 36px
);

@function radius($variant: 'm') {
  $value: map-get($radius-variants, $variant);
  @return $value;
}
