@import '../../_variables.scss';

.the-guys-header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  -webkit-box-shadow: 0 4px 6px -6px #9f9f9f;
  -moz-box-shadow: 0 4px 6px -6px #9f9f9f;
  box-shadow: 0 4px 6px -6px #9f9f9f;
  background-color: $primary-background;
}
